$breakpoints: (
  xxsmall: 'min-width: 240px',
  xsmall: 'min-width: 280px',
  small: 'min-width: 320px',
  xmedium: 'min-width: 410px',
  medium: 'min-width: 500px',
  large: 'min-width: 768px',
  xlarge: 'min-width: 1024px',
  xxlarge: 'min-width: 1200px',
);

@mixin media-queries($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if ($size) {
    @media (#{$size}) {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - error media';
  }
}
