@use './media-queries.scss' as *;
@use './variables.scss' as *;

@mixin centerWrapperPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 300px;
}

@mixin titlePage {
  margin-bottom: 10px;
  color: $color-font-text;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

@mixin inputStyles {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid $border-color;
  background-color: transparent;
  color: rgb(208, 208, 208);
  outline: none;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  caret-color: #dddddd;

  &::placeholder {
    color: $color-font-text;
    font-size: 1.2rem;
  }

  @include media-queries(medium) {
    font-size: 1.4rem;
  }
}

@mixin btnsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@mixin btnStyles {
  width: 45%;
  padding: 7px 10px;
  border: 1px solid $border-color;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  color: $color-font-text;
  cursor: pointer;

  &--active {
    background-color: $background-color-btn;
  }

  &--active:hover {
    background-color: $background-color-btn-hover;
  }
}

@mixin btnStart {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  outline: none;
  background-color: $background-color-btn;
  color: $color-font-text;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.2s ease;

  &:hover {
    background-color: $background-color-btn-hover;
  }
}
