$background-color-btn: #4b082a;
$background-color-btn-hover: #5e051a;
$border-color: $background-color-btn;
$color-font-text: #dadada;
$font-family-letter: 'Roboto', sans-serif;
$font-family-title: 'Roboto', sans-serif;
$font-family-text: 'Roboto', sans-serif;
$logo-box-background-color-1: #f8c822;
$logo-box-background-color-2: #ff4136;
$font-weight-logo: 900;
