.back-button {
  position: absolute;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  color: #dadada;
  cursor: pointer;
  transition: 0.3s ease;

  &--local {
    top: -38px;
  }

  &:hover {
    color: #dfced7;
  }
}
