@use '../helpers-scss/media-queries.scss' as *;
@use '../helpers-scss/mixins.scss' as *;
@use '../helpers-scss/variables.scss' as *;

.difficulty-page {
  position: relative;

  @include centerWrapperPage;
  color: $color-font-text;

  &__title {
    @include titlePage;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $background-color-btn;
    background-color: transparent;
    color: $color-font-text;
    transition: 0.2s ease;
    cursor: pointer;

    &--active {
      background-color: $background-color-btn;

      &:hover {
        background-color: $background-color-btn-hover;
      }
    }

    &:nth-child(4) {
      margin-top: 30px;
      background-color: $background-color-btn;
      letter-spacing: 1px;

      &:hover {
        background-color: $background-color-btn-hover;
      }
    }
  }
}
