@use '../helpers-scss/variables.scss' as *;

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 12px;
  cursor: pointer;

  &__line {
    width: 100%;
    height: 2px;
    background-color: $color-font-text;

    &:nth-child(2) {
      width: 50%;
    }

    &:nth-child(3) {
      width: 100%;
    }
  }
}
