@use '../helpers-scss/media-queries.scss' as *;
@use '../helpers-scss/mixins.scss' as *;

.layout-other {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: inherit;
  background-color: #240b36;

  &__other-pages {
    padding: 80px 20px 50px 20px;

    @include media-queries(small) {
      width: 100%;
      padding: 80px 50px 50px 50px;
    }

    @include media-queries(xmedium) {
      padding: 80px 50px 50px 50px;
    }

    @include media-queries(medium) {
      position: initial;
      width: 260px;
      min-height: 450px;
      padding: 50px 25px;
    }
  }
}
