@use '../helpers-scss/media-queries.scss' as *;

.spinner-results {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  fill: orange;
  animation: rotate steps(8) 800ms infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
