* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

button {
  font-family: 'Roboto', sans-serif;
}
